/* Marck Script Font family */

@font-face {
    font-family: 'MarckScriptRegular';
    src: url('fonts/MarckScriptRegular.eot');
    src: url('fonts/MarckScriptRegular.eot') format('embedded-opentype'),
         url('fonts/MarckScriptRegular.woff2') format('woff2'),
         url('fonts/MarckScriptRegular.woff') format('woff'),
         url('fonts/MarckScriptRegular.ttf') format('truetype'),
         url('fonts/MarckScriptRegular.svg#MarckScriptRegular') format('svg');
}

/* Roboto Condensed Font family */

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('fonts/RobotoCondensedLight.eot');
    src: url('fonts/RobotoCondensedLight.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedLight.woff2') format('woff2'),
         url('fonts/RobotoCondensedLight.woff') format('woff'),
         url('fonts/RobotoCondensedLight.ttf') format('truetype'),
         url('fonts/RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('fonts/RobotoCondensedRegular.eot');
    src: url('fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedRegular.woff2') format('woff2'),
         url('fonts/RobotoCondensedRegular.woff') format('woff'),
         url('fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

/* Roboto Slab Font family */

@font-face {
    font-family: 'RobotoSlabThin';
    src: url('fonts/RobotoSlabThin.eot');
    src: url('fonts/RobotoSlabThin.eot') format('embedded-opentype'),
         url('fonts/RobotoSlabThin.woff2') format('woff2'),
         url('fonts/RobotoSlabThin.woff') format('woff'),
         url('fonts/RobotoSlabThin.ttf') format('truetype'),
         url('fonts/RobotoSlabThin.svg#RobotoSlabThin') format('svg');
}

@font-face {
    font-family: 'RobotoSlabLight';
    src: url('fonts/RobotoSlabLight.eot');
    src: url('fonts/RobotoSlabLight.eot') format('embedded-opentype'),
         url('fonts/RobotoSlabLight.woff2') format('woff2'),
         url('fonts/RobotoSlabLight.woff') format('woff'),
         url('fonts/RobotoSlabLight.ttf') format('truetype'),
         url('fonts/RobotoSlabLight.svg#RobotoSlabLight') format('svg');
}

@font-face {
    font-family: 'RobotoSlabRegular';
    src: url('fonts/RobotoSlabRegular.eot');
    src: url('fonts/RobotoSlabRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoSlabRegular.woff2') format('woff2'),
         url('fonts/RobotoSlabRegular.woff') format('woff'),
         url('fonts/RobotoSlabRegular.ttf') format('truetype'),
         url('fonts/RobotoSlabRegular.svg#RobotoSlabRegular') format('svg');
}

@font-face {
    font-family: 'RobotoSlabBold';
    src: url('fonts/RobotoSlabBold.eot');
    src: url('fonts/RobotoSlabBold.eot') format('embedded-opentype'),
         url('fonts/RobotoSlabBold.woff2') format('woff2'),
         url('fonts/RobotoSlabBold.woff') format('woff'),
         url('fonts/RobotoSlabBold.ttf') format('truetype'),
         url('fonts/RobotoSlabBold.svg#RobotoSlabBold') format('svg');
}

/* Roboto Font family */

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/RobotoLight.eot');
    src: url('fonts/RobotoLight.eot') format('embedded-opentype'),
         url('fonts/RobotoLight.woff2') format('woff2'),
         url('fonts/RobotoLight.woff') format('woff'),
         url('fonts/RobotoLight.ttf') format('truetype'),
         url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.eot');
    src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoRegular.woff2') format('woff2'),
         url('fonts/RobotoRegular.woff') format('woff'),
         url('fonts/RobotoRegular.ttf') format('truetype'),
         url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('fonts/RobotoMedium.eot');
    src: url('fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('fonts/RobotoMedium.woff2') format('woff2'),
         url('fonts/RobotoMedium.woff') format('woff'),
         url('fonts/RobotoMedium.ttf') format('truetype'),
         url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
         url('fonts/RobotoBold.woff2') format('woff2'),
         url('fonts/RobotoBold.woff') format('woff'),
         url('fonts/RobotoBold.ttf') format('truetype'),
         url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}

/* Open Sans Font family */

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSansLight.eot');
    src: url('fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('fonts/OpenSansLight.woff2') format('woff2'),
         url('fonts/OpenSansLight.woff') format('woff'),
         url('fonts/OpenSansLight.ttf') format('truetype'),
         url('fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff2') format('woff2'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype'),
         url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSansSemiBold.eot');
    src: url('fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansSemiBold.woff2') format('woff2'),
         url('fonts/OpenSansSemiBold.woff') format('woff'),
         url('fonts/OpenSansSemiBold.ttf') format('truetype'),
         url('fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}


@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.eot');
    src: url('fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansBold.woff2') format('woff2'),
         url('fonts/OpenSansBold.woff') format('woff'),
         url('fonts/OpenSansBold.ttf') format('truetype'),
         url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

/* Montserrat Font family */

@font-face {
    font-family: 'MontserratLight';
    src: url('fonts/MontserratLight.eot');
    src: url('fonts/MontserratLight.eot') format('embedded-opentype'),
         url('fonts/MontserratLight.woff2') format('woff2'),
         url('fonts/MontserratLight.woff') format('woff'),
         url('fonts/MontserratLight.ttf') format('truetype'),
         url('fonts/MontserratLight.svg#MontserratLight') format('svg');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/MontserratRegular.eot');
    src: url('fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('fonts/MontserratRegular.woff2') format('woff2'),
         url('fonts/MontserratRegular.woff') format('woff'),
         url('fonts/MontserratRegular.ttf') format('truetype'),
         url('fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/MontserratBold.eot');
    src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
         url('fonts/MontserratBold.woff2') format('woff2'),
         url('fonts/MontserratBold.woff') format('woff'),
         url('fonts/MontserratBold.ttf') format('truetype'),
         url('fonts/MontserratBold.svg#MontserratBold') format('svg');
}

/* Open Sans font face */

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
